<head>


<title class="title">
  <%= title %>
</title>
</head>

<h2>Welcome! </h2>

<p>Please
<button class="signup"><a href="/sign_up">Sign Up!</a></button> or
<button class="login"><a href="/log_in">Log In!</a></button></p>


<button type='submit'><a href="/sign_up">Sign Up</a></button>
