<!doctype>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/chitter.css">



</head>

<body>

  <header>
    <h1 id='Logo'> Simon's Chitter </h1>
    <form class='search'>
      <input type='search_input' class='search_input'>
    </form>

    <nav>



    </nav>

  </header>
  <content id="content">



    <%- body %>
  </content>

</body>
</html>
